<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}TIME TO EAT{{else}}NOT HUNGRY RIGHT NOW!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
